@import "tailwindcss";

#avatar-left {
  clip-path: polygon(94% 97%, 98% 96%, 100% 93%, 100% 90%, 95% 88%, 91% 88%, 87% 87%, 82% 86%, 78% 84%, 74% 82%, 74% 79%, 72% 77%, 70% 75%, 69% 72%, 67% 68%, 68% 66%, 67% 64%, 67% 61%, 68% 59%, 72% 62%, 75% 61%, 77% 63%, 81% 64%, 86% 64%, 90% 63%, 93% 61%, 94% 59%, 90% 58%, 86% 57%, 84% 55%, 85% 53%, 87% 50%, 86% 47%, 82% 45%, 78% 44%, 74% 42%, 73% 39%, 71% 37%, 71% 35%, 71% 33%, 75% 32%, 77% 30%, 76% 27%, 75% 25%, 79% 23%, 82% 21%, 84% 19%, 86% 16%, 83% 15%, 78% 14%, 71% 13%, 66% 12%, 67% 9%, 67% 7%, 66% 3%, 60% 0%, 48% 0, 52% 5%, 58% 4%, 60% 6%, 57% 9%, 49% 6%, 37% 5%, 30% 6%, 22% 9%, 16% 12%, 12% 18%, 8% 17%, 4% 18%, 0 22%, 0 26%, 4% 29%, 8% 30%, 8% 34%, 14% 36%, 18% 38%, 25% 39%, 22% 43%, 17% 48%, 12% 52%, 10% 49%, 10% 45%, 9% 42%, 7% 40%, 8% 37%, 6% 34%, 4% 37%, 3% 39%, 3% 42%, 3% 45%, 4% 48%, 6% 51%, 7% 53%, 6% 56%, 0% 58%, 0% 60%, 6% 61%, 8% 62%, 13% 62%, 14% 64%, 16% 66%, 22% 64%, 26% 67%, 28% 69%, 22% 70%, 17% 74%, 16% 77%, 17% 80%, 15% 82%, 14% 85%, 15% 87%, 17% 89%, 20% 91%, 26% 91%, 32% 90%, 35% 89%, 40% 87%, 44% 86%, 48% 84%, 54% 84%, 59% 86%, 63% 88%, 67% 92%, 70% 94%, 73% 96%, 76% 98%, 79% 100%, 88% 100%);
}
#avatar-top {
  clip-path: polygon(83% 18%, 80% 12%, 80% 5%, 76% 2%, 70% 2%, 64% 0%, 39% 0, 31% 5%, 23% 8%, 14% 8%, 9% 13%, 9% 20%, 12% 25%, 11% 33%, 13% 40%, 15% 46%, 15% 52%, 15% 59%, 14% 67%, 8% 69%, 3% 75%, 0% 81%, 0 88%, 4% 96%, 8% 96%, 14% 92%, 19% 88%, 22% 81%, 23% 88%, 21% 94%, 25% 98%, 30% 97%, 30% 91%, 34% 83%, 37% 89%, 42% 93%, 49% 93%, 53% 87%, 59% 84%, 64% 81%, 69% 81%, 69% 92%, 70% 100%, 78% 100%, 77% 92%, 73% 88%, 77% 75%, 83% 80%, 86% 87%, 90% 92%, 96% 89%, 100% 83%, 95% 75%, 100% 66%, 95% 60%, 91% 52%, 87% 46%, 87% 31%, 89% 23%);
}
#avatar-right {
  clip-path: polygon(20% 100%, 22% 98%, 23% 96%, 28% 91%, 34% 83%, 38% 78%, 41% 74%, 44% 76%, 49% 77%, 57% 75%, 66% 72%, 75% 67%, 80% 66%, 85% 66%, 92% 64%, 92% 57%, 89% 55%, 86% 53%, 86% 51%, 92% 47%, 96% 45%, 100% 41%, 100% 38%, 95% 41%, 90% 36%, 84% 34%, 79% 32%, 76% 29%, 84% 29%, 90% 26%, 93% 23%, 93% 21%, 89% 25%, 84% 27%, 81% 27%, 81% 25%, 80% 23%, 84% 23%, 87% 20%, 87% 16%, 84% 13%, 79% 10%, 76% 13%, 74% 17%, 69% 22%, 66% 18%, 64% 14%, 59% 10%, 55% 7%, 54% 5%, 51% 5%, 44% 4%, 36% 4%, 31% 5%, 28% 2%, 25% 0%, 23% 0, 23% 4%, 25% 7%, 20% 8%, 15% 9%, 15% 13%, 17% 16%, 21% 18%, 25% 19%, 22% 23%, 26% 21%, 24% 28%, 28% 24%, 29% 22%, 31% 26%, 29% 34%, 25% 39%, 25% 42%, 27% 45%, 25% 48%, 21% 51%, 21% 53%, 17% 54%, 14% 55%, 16% 56%, 17% 58%, 20% 57%, 26% 58%, 25% 61%, 25% 65%, 27% 65%, 30% 63%, 30% 65%, 30% 70%, 25% 71%, 22% 75%, 17% 78%, 12% 81%, 5% 84%, 0 86%, 0% 89%, 2% 92%, 5% 94%, 8% 95%, 8% 97%, 15% 100%);
}

.border-gray-white {
  color: hsl(209.091, 16%, 60%);
  text-shadow: 
    1.5px 1.5px 0 #fff,
    -1.5px 1.5px 0 #fff,
    -1.5px -1.5px 0 #fff,
    1.5px -1.5px 0 #fff;
}
.border-white-gray {
  color: #fff;
  text-shadow: 
    2px 2px 0px hsl(240, 18%, 55%),
    -2px 2px 0px hsl(240, 18%, 55%),
    -2px -2px 0px hsl(240, 18%, 55%),
    2px -2px 0px hsl(240, 18%, 55%);
}
.border-white-gray-little {
  color: #fff;
  text-shadow: 
    1.5px 1.5px 0px hsl(240, 18%, 55%),
    -1.5px 1.5px 0px hsl(240, 18%, 55%),
    -1.5px -1.5px 0px hsl(240, 18%, 55%),
    1.5px -1.5px 0px hsl(240, 18%, 55%);
}

.inner_orbit-left, .inner_orbit-left-mobile {
  transform: translate(-50%, -50%) rotateX(50deg) rotateY(15deg) rotateZ(0deg);
  animation: spinLeft 6s linear infinite;
}
@keyframes spinLeft {
  to {
    transform: translate(-50%, -50%) rotateX(50deg) rotateY(15deg) rotateZ(360deg);
  }
}
.inner_orbit-right, .inner_orbit-right-mobile {
  transform: translate(-50%, -50%) rotateX(50deg) rotateY(-15deg) rotateZ(0deg);
  animation: spinRight 6s linear infinite;
}
@keyframes spinRight {
  to {
    transform: translate(-50%, -50%) rotateX(50deg) rotateY(-15deg) rotateZ(-360deg);
  }
}

.btn-effect-wp {
  border-radius: 10px;
  box-shadow: 0 4px 0 rgba(193, 205, 142, 1);
  transition: all 0.1s ease-out;
}
.btn-effect-wp:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 0 rgba(193, 205, 142, 1);
  filter: brightness(0.9);
}
.btn-effect-yt {
  border-radius: 10px;
  box-shadow: 0 4px 0 hsl(339, 68%, 71%);
  transition: all 0.1s ease-out;
}
.btn-effect-yt:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 0 hsl(339, 68%, 71%);
  filter: brightness(0.9);
}
.btn-effect-ig {
  border-radius: 10px;
  box-shadow: 0 4px 0 hsl(328, 46%, 74%);
  transition: all 0.1s ease-out;
}
.btn-effect-ig:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 0 hsl(328, 46%, 74%);
  filter: brightness(0.9);
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-white: rgba(255, 255, 255, 1);
  --color-white-opacity: rgba(255, 255, 255, 0.3);
  --color-purple: hsl(240, 18%, 55%);
  --color-gray: hsl(209.091, 16%, 60%);
  --color-pastel-viole: hsl(241.5, 53%, 85%);
  --color-violet: hsl(226.5, 36%, 78%);
  --color-pink: hsl(328.286, 81%, 83%);
  --color-orange-pink: hsl(9.474, 86%, 83%);
  --color-dark-pink: hsl(344.531, 99%, 75%);
  --color-yellow: hsl(39.75, 74%, 79%);
  --color-darker-pink: hsl(338.857, 76%, 73%);
  --color-gray-green: hsl(187.5, 28%, 77%);
  --color-green: rgba(156, 236, 214, 1);
  --color-light-green: hsl(72.273, 73%, 88%);
  --color-orange: rgba(250, 188, 127, 1);
  --color-light-purple: rgba(201, 200, 239, 1);
  --color-green-yellow: rgba(193, 205, 142, 1);
  --color-lighter-purple: hsl(240, 50%, 96%);
  --color-light-orange: hsl(22.258, 86%, 86%);
  --color-blue: hsl(226.744, 100%, 83%);

  --font-montserrat: "Montserrat Alternates", 'sans-serif';
}

@layer components {
  .main_avatar {
    @apply h-auto absolute -top-14 cursor-pointer;
  }
  .main_button {
    @apply size-1/3 absolute left-[90%] top-1/2 rounded-full origin-[-120%_center] border-4 border-white-opacity cursor-pointer;
  }
  .main_button-ctr {
    @apply relative size-full flex justify-center items-center pointer-events-none;
  }
  .main_button-ctr img {
    @apply size-1/2;
  }
  .main_buttons-paragrah {
    @apply absolute -bottom-1/20;
  }
  .main_bitacora-span {
    @apply absolute left-[85%] top-1/2 w-1/3 h-1/8 border-4 border-white rounded-full origin-[-110%_center];
  }
  .main_home-span {
    @apply absolute left-[85%] top-1/2 w-1/3 h-1/8 border-4 border-white rounded-full origin-[-110%_center];
  }
  #main_social img, #mobile_social img {
    @apply size-9 sm:size-12;
  }
  .main_wrapper-avatars {
    @apply size-[125%] left-1/2 -translate-x-1/2 absolute bottom-0 overflow-hidden rounded-b-full flex justify-center items-center pointer-events-none;
  }
  .main_wrapper-avatar {
    @apply w-3/4 h-auto translate-y-full opacity-0;
  }
  .products_item {
    @apply relative border-6 border-light-orange bg-lighter-purple h-full rounded-[20px] flex-1 max-w-[33%];
  }
  /* Estilos para mobile */
  .article_avatar {
    @apply w-50 aspect-square absolute left-0 top-[120px] -translate-y-1/2 -translate-x-1/3 sm:w-65 sm:top-[152px];
  }
  .article_avatar-text {
    @apply absolute -z-1 right-0 top-1/2 translate-x-full -translate-y-1/2;
  }
  .article_avatar-text-title {
    @apply px-5 py-1 w-fit rounded-tr-2xl text-xl sm:px-8;
  }
  .article_avatar-text-p {
    @apply bg-white whitespace-nowrap px-5 py-2 rounded-r-2xl text-base sm:px-8;
  }
  .article_avatar-ctr {
    @apply size-full bg-purple rounded-full translate-x-2 p-2 sm:p-3;
  }
  .article_avatar-ctr-icon {
    @apply absolute right-0 top-0 -translate-y-1/4 translate-x-1/4 w-1/3 aspect-square rounded-full border-4 border-white-opacity p-3;
  }
  .article_avatar-ctr-img {
    @apply relative size-full bg-gradient-to-b from-dark-pink to-yellow rounded-full;
  }
  .mobile_catalogo {
    @apply px-12 py-28 flex flex-col gap-14 bg-light-green rounded-r-[70px] border-4 border-white sm:px-20 sm:gap-18;
  }
  .mobile_catalogo-product {
    @apply relative w-full max-w-80 mx-auto border-4 border-white-opacity h-60 rounded-xl;
  }
  .mobile_catalogo-a {
    @apply w-16 h-16 aspect-square p-2 rounded-full border-4 border-white-opacity;
  }
  .mobile_catalogo-span {
    @apply absolute w-1/3 h-5 rounded-xl right-0 top-1/2 -translate-y-1/2 translate-x-[50%] origin-[-100%_center] border-4 border-white;
  }
}

/* loading */
#main_loading-logo {
  animation: loading 0.5s ease-in-out infinite alternate;
}
.loading-hide {
  display: none;
}
@keyframes loading {
  to {
    background-image: url('/images/icons/cargando_2.webp');
  }
}