@import "tailwindcss";

.main_paragrah {
  text-shadow: 
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    -2px -2px 0 #fff,
    2px -2px 0 #fff;
}
.main_title {
  text-shadow: 
    2px 2px 0px hsl(240, 18%, 55%),
    -2px 2px 0px hsl(240, 18%, 55%),
    -2px -2px 0px hsl(240, 18%, 55%),
    2px -2px 0px hsl(240, 18%, 55%);
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-white: rgba(255, 255, 255, 1);
  --color-white-opacity: rgba(255, 255, 255, 0.3);
  --color-purple: hsl(240, 18%, 55%);
  --color-gray: hsl(209.091, 16%, 60%);
  --color-pastel-viole: hsl(241.5, 53%, 85%);
  --color-violet: hsl(226.5, 36%, 78%);
  --color-pink: hsl(328.286, 81%, 83%);
  --color-orange-pink: hsl(9.474, 86%, 83%);
  --color-dark-pink: hsl(344.531, 99%, 75%);
  --color-yellow: hsl(39.75, 74%, 79%);
  --color-darker-pink: hsl(338.857, 76%, 73%);
  --color-gray-green: hsl(187.5, 28%, 77%);
  --color-green: hsl(163.171, 68%, 77%);
  --color-light-green: hsl(72.273, 73%, 88%);
  --color-orange: hsl(29.756, 93%, 74%);
  --color-light-purple: hsl(241.5, 54%, 86%);
  --color-green-yellow: hsl(71.25, 39%, 68%);
  --color-lighter-purple: hsl(240, 50%, 96%);
  --color-light-orange: hsl(22.258, 86%, 86%);
  --color-blue: hsl(226.744, 100%, 83%);

  --font-montserrat: "Montserrat Alternates", 'sans-serif';
}

@layer components {
  .main_avatar {
    @apply h-auto absolute -top-14;
  }
  .main_button {
    @apply size-1/3 absolute left-[90%] top-1/2 rounded-full origin-[-120%_center] border-4 border-white-opacity cursor-pointer;
  }
  .main_button-ctr {
    @apply relative size-full flex justify-center items-center pointer-events-none;
  }
  .main_button-ctr img {
    @apply size-2/3;
  }
  .main_title {
    @apply text-white text-[14px] sm:text-[25px] absolute -bottom-1/20;
  }
  .main_bitacora-span {
    @apply absolute left-[85%] top-1/2 w-1/3 h-1/8 border-4 border-white rounded-full origin-[-110%_center];
  }
  .main_home-span {
    @apply absolute left-[85%] top-1/2 w-1/3 h-1/8 border-4 border-white rounded-full origin-[-110%_center];
  }
  #main_social img {
    @apply size-9 sm:size-12;
  }
  .main_wrapper-avatars {
    @apply size-[125%] left-1/2 -translate-x-1/2 absolute bottom-0 overflow-hidden rounded-b-full flex justify-center items-center pointer-events-none;
  }
  .main_wrapper-avatar {
    @apply w-3/4 h-auto translate-y-full opacity-0;
  }
}
